@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-btns {
    @apply mx-2 md:my-0 my-4 px-3 py-2 cursor-pointer rounded-xl font-bold bg-gray-100 text-gray-600;
}

.selected {
    @apply text-gray-900;
}

.ham-lines {
    @apply h-0.5 bg-white w-7 my-1 transition ease-in;
}

.inputStyle {
    @apply px-3 py-2 mx-3 my-2 rounded-xl bg-gray-200 text-black outline-none w-[60vw] md:w-[40vw];
}

.textUtil {
    @apply bg-gray-500 w-full text-center py-2 border-y-[1px];
}

.textUtil2 {
    @apply w-full text-center py-2 border-y-[1px];
}